<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="side.css">
    	<link rel="stylesheet" href="style.css">

    <title>Produits proposés</title>
    <style>

    </style>
</head>
<body>
	<div id="chartpanel" class="row" data-equalizer>
  
  <div class="column small-12 left_panel" >
    <header data-equalizer-watch>
      <i class="fa fa-bars menu_top_icon" aria-hidden="true"></i>
      <div class="right_nav">
        <i class="fa fa-heart" aria-hidden="true"></i>
        <i class="fa fa-link" aria-hidden="true"></i>
        <i class="fa fa-user-circle" aria-hidden="true"></i>
      </div>
      <charttitle> </charttitle>
    </header>
  
  
  <div id="chart_table">
    <form id="chart_datas"  >
      <div class="grid-container">
        <div class="grid-x grid-padding-x input_wrp">
          <div class="small-1 cell column">
            <label>
              <input type="text" placeholder="id">
            </label>
          </div>
          <div class="small-2 cell column">
            <label>
              <input type="text" placeholder="value" v-model="value" id="value" name="value">
            </label>
          </div>
          <div class="small-6 cell column">
            <label>
              <input type="text" placeholder="Label" v-model="label" id="label" name="label">
            </label>
          </div>
          <div class="small-3 cell column">
            <label>
              <input type="text" placeholder="Icon" v-model="icon" id="icon" name="icon">
            </label>
          </div>
        </div>
        
         <div class="addRowBtn" v-on:click.prevent="addRow" value=""><i class="fa fa-plus" aria-hidden="true"></i></div>
      </div>  

    </form>
    
    <charttable v-bind:proplabels="labels"> </charttable>
  </div>
  </div> <!-- end left panel -->
  <!--<div class="column small-12 medium-4 right_panel">
    <header data-equalizer-watch>
<chartsubtitle> </chartsubtitle>
    </header>
  </div> -->
</div>

 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
      // Votre code JavaScript ici
	  
Vue.component('charttitle',{
  data() {
    return { 
      message: 'TABLE TITLE',
      collapsed: true
    }
  },
  template:`
<div id ="chart_title">
    <label>
    <input v-model="message" placeholder="Insert the chart title" v-bind:class="[ {'is-collapsed' : collapsed }, 'inputHide' ]" type="text">
    </label>
    <h2>{{ message }} <button class="hideshow" v-on:click=" collapsed = !collapsed"><i class="fa fa-pencil" aria-hidden="true"></i></button></h2>
  </div>
`
})

/* Second header */

Vue.component('chartsubtitle',{
  data() {
    return { 
      message: 'Data reports',
      collapsed: true
    }
  },
  template:`
<div id ="chart_subtitle">
    <label>
    <input v-model="message" placeholder="Insert the chart title" v-bind:class="[ {'is-collapsed' : collapsed }, 'inputHide' ]" type="text">
    </label>
    <h2>{{ message }} <button class="hideshow" v-on:click=" collapsed = !collapsed"><i class="fa fa-pencil" aria-hidden="true"></i></button></h2>
  </div>
`
})


Vue.component('charttable',{
  props:['proplabels'],
  data() {
    return{
    disabled: true
    }
  },
  methods:{
    deleteEvent: function(index) {
      this.proplabels.splice(index, 1);
    }
},
  template:
    `
<div id="chart_table">
        <div class="top_titles">
            <div class="small-12 medium-1 column"> id </div>
            <div class="small-12 medium-2 column"> Value </div>
            <div class="small-12 medium-6 column"> Label </div>
            <div class="small-12 medium-2 column"> icon </div>
            <div class="small-12 medium-1 column">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
        </div>
    <div v-for="(val, index)al in proplabels" class="row table_cell">
        <div class="small-12 medium-1 column">
            <input type="text" v-model="val.id" disabled></input>
        </div>
        <div  class="small-12 medium-2 column single-cel">
            <input type="text" v-model="val.percentual" v-bind:disabled="disabled">
            </input>
        </div>
        <div class="small-12 medium-6 column single-cel">
            <input type="text" v-model="val.label" v-bind:disabled="disabled"> </input>
        </div>
        <div class="small-12 medium-2 column single-cel">
            <input type="text" v-model="val.icon" v-bind:disabled="disabled"> </input>
        </div>
        <div class="small-12 medium-1 column edit_panel">
            <button @click="deleteEvent(index)">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
<span class="edit_mode" @click="disabled = !disabled">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </span>
        </div>
    </div>


</div>

`
})


new Vue({
        el: '#chartpanel',
        data: {
            value: '',
            label: '',
            icon:'',
          labels: [ { id:0, percentual: 87, label:'Mandorle', icon:'fa-user-circle-o' } ],
          nextBarId: 1
        },
        computed: {
            
        },
        methods: {
            addRow: function (event) {
              lastId =  this.labels.length;
              var newRow={
                id: this.nextBarId++, 
                percentual: this.value, 
                label: this.label , 
                icon: this.icon
              };
              this.labels.push( newRow );
            }
          
        }
    });







 </script>
</body>

</html>